.container-fluid{
    background-color:#FF4D4D;
    background-image:url("background.png");
    min-height: 100%;
    font-family: 'Philosopher', sans-serif;
}

/*Across All*/

.contact{
    margin-top:140px;
    text-align:right;
    padding-right:50px;
}

.white {
    background-color: #f8f8f8;
    color: black;
    margin-top: 50px;
    margin-bottom: 100px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    padding: 20px;
    padding-top:40px;
    padding-bottom:70px;

}

.navbar-default .navbar-nav li a{
    color:#000000;
}

.navbar-default .navbar-nav li a:hover{
    background-color:#FFE0E0;
}

.row{
    margin-top:10px;
}

.center{
    text-align:center;
}